---

---
<nav data-anchor-navigation data-scroll-reveal class="anchor-navigation module sticky -top-1 left-0 z-555 bg-black transition-all">
    <div class="grid px-0">
        <ol class="col-span-full flex overflow-auto lg:justify-center
        before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:border-t before:border-gray-300 before:w-screen
        after:content-[''] after:absolute after:bottom-0 after:left-0 after:right-0 after:border-t after:border-gray-300 after:w-screen
        ">
            <!--
            <li>
                <a href="#cases" class="block py-15 px-25 no-underline text-18 font-normal [&.active]:bg-green [&:hover]:bg-green [&:hover]:text-black [&.active]:text-black">Projekte</a>
            </li>
            -->
            <li>
                <a href="#skills" class="block py-15 px-25 no-underline text-18 font-normal [&.active]:bg-green [&:hover]:bg-green [&:hover]:text-black [&.active]:text-black">Skills</a>
            </li>
            <li>
                <a href="#lebenslauf" class="block py-15 px-25 no-underline text-18 font-normal [&.active]:bg-green [&:hover]:bg-green [&:hover]:text-black [&.active]:text-black">Lebenslauf</a>
            </li>
            <li>
                <a href="#game" class="block py-15 px-25 no-underline text-18 font-normal [&.active]:bg-green [&:hover]:bg-green [&:hover]:text-black [&.active]:text-black">Spiel</a>
            </li>
            <li>
                <a href="#kontakt" class="block py-15 px-25 no-underline text-18 font-normal [&.active]:bg-green [&:hover]:bg-green [&:hover]:text-black [&.active]:text-black">Kontakt</a>
            </li>
        </ol>
    </div>
</nav>

<script>
    const $anchorNavigation = document.querySelector('[data-anchor-navigation]');

    if ($anchorNavigation) {
        const loadAnchorNavigation = () => {
            import('@scripts/modules/anchor-navigation')
                .then(({ anchorNavigation }) => {
                    anchorNavigation.init();
                })
                .catch((error) => {
                    console.error('Error loading module:', error);
                });
        };

        const observer = new IntersectionObserver(
            (entries, obs) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        loadAnchorNavigation();
                        obs.disconnect(); // Beobachtung beenden, wenn geladen
                    }
                });
            },
            {
                root: null,
                rootMargin: '0px',
                threshold: 0.1 // bei 10 % Sichtbarkeit laden
            }
        );

        observer.observe($anchorNavigation);
    }
</script>