---
import Flag from "@components/partials/Flag.astro";
---

<div class="module collbaration">
    <div class="grid">
        <div class="col-span-6">
            <Flag>Austausch</Flag>
            <h2 class="mb-20 ">Lass uns vernetzen</h2>
            <p>
                Du bist Freelancer oder Agentur und an Kollaborationen oder Empfehlungen interessiert? Lass uns vernetzen.<br>
                Ich freue mich immer, mein Netzwerk zu erweitern – für spannende Projekte, einen lockeren Austausch oder Empfehlungen.
                Vernetze dich gern mit mir auf Instagram. Oder schreib mir direkt an <a class="collab__mail" href="mailto:hello@tst.com">hello@tst.com</a>.
                Ich freue mich, von dir zu hören!
            </p>
        </div>
    </div>
</div>