---
import Image from "@components/partials/Image.astro";
import Button from "@components/partials/Button.astro";
import Flag from "@components/partials/Flag.astro";
---

<section class="hero-intro module !mb-95 lg:!mb-160" aria-labelledby="hero-intro-title" data-hero-intro role="region" id="person">
    <div class="grid lg:items-center">
        <figure class="col-span-5 lg:col-span-4 lg:col-start-2" data-scroll-reveal>
            <div class="relative -left-10 w-[calc(100%+10px)] lg:left-0 lg:w-full [clip-path:polygon(85%_0%,_100%_50%,_85%_100%,_0%_100%,_15%_50%,_0%_0%)]">
                <div>
                    <Image
                        src="/images/marvin_schmidt_profile.jpg"
                        width="333"
                        height="533"
                        sizes={[
                            {
                                viewportWidth: 1024,
                                imageWidth: 476
                            },
                            {
                                viewportWidth: 768,
                                imageWidth: 844
                            },
                            {
                                viewportWidth: 450,
                                imageWidth: 454
                            },
                            {
                                viewportWidth: 320,
                                imageWidth: 333
                            }
                        ]}
                        loading="eager"
                        className="scale-100"
                        fetchPriority="high"
                        alt="Schwarz-weißes Porträt einer Person mit kurzem, leicht gewelltem Haar, direktem Blick und ruhigem Ausdruck vor hellem, neutralem Hintergrund."
                    />
                </div>
            </div>
        </figure>
        <div class="col-span-5 mt-30 lg:col-start-7 lg:mt-0">
            <Flag>Über mich</Flag>
            <h1 class="text-green mb-15 bg-gradient-to-r from-green to-red bg-clip-text text-transparent" id="hero-intro-title" data-scroll-reveal>
                <span>Frontend </span>
                <span>Architect.</span>
            </h1>
            <p class="mt-9 lg:mt-30" data-scroll-reveal>
                Mit Fokus auf <strong>Performance</strong>, <strong>Accessibility</strong> und <strong>sauberen Code</strong>
                entwickle ich moderne Web-Erlebnisse –
                <em>minimalistisch gedacht</em>, <em>detailverliebt umgesetzt</em>.
            </p>
            <Button href="#kontakt" title="Zum Kontaktformular" className="mt-18 lg:mt-28" icon="send" data-scroll-reveal>Anschreiben</Button>
        </div>
    </div>
</section>

<script>
    import { lazyLoadWhenIdle } from '@scripts/utils/lazy-load-when-idle';
    lazyLoadWhenIdle(() => import('@scripts/modules/hero-intro.js'), {
        selector: '*[data-hero-intro]',
        onLoad: ({ heroIntro }) => heroIntro?.init?.()
    });
</script>