---
import Image from "@components/partials/Image.astro";
import Button from "../partials/Button.astro";
---

<section class="hero-intro module !mb-95 lg:!mb-160" aria-labelledby="hero-intro-title" role="region">
    <div class="grid lg:items-center">
        <figure class="col-span-5 lg:col-span-4 lg:col-start-2">
            <div data-image-tilt-effect class="relative -left-10 w-[calc(100%+10px)] lg:left-0 lg:w-full">
                <Image
                        src="/images/me.jpg"
                        width="304"
                        height="372"
                        sizes={[
                            {
                                viewportWidth: 1024,
                                imageWidth: 454
                            },
                            {
                                viewportWidth: 768,
                                imageWidth: 844
                            },
                            {
                                viewportWidth: 450,
                                imageWidth: 454
                            },
                            {
                                viewportWidth: 320,
                                imageWidth: 324
                            }
                        ]}
                        loading="eager"
                        fetchPriority="high"
                        alt="A description of my image."
                />
            </div>
        </figure>
        <div class="col-span-5 mt-30 lg:col-start-7 lg:mt-0">
            <h1 class="text-green mb-15" id="hero-intro-title">Frontend Developer.</h1>
            <p class="mt-9 lg:mt-30">
                Mit Fokus auf <strong>Performance</strong>, <strong>Accessibility</strong> und <strong>sauberen Code</strong>
                entwickle ich Web-Erlebnisse, die Nutzer lieben und Unternehmen voranbringen –
                <em>minimalistisch gedacht</em>, <em>detailverliebt umgesetzt</em>, vom Design bis zur fertigen Website.
            </p>
            <Button className="w-full mt-18 lg:mt-28" href="mailto:contact@msc.de" icon="send">Anschreiben</Button>
        </div>
    </div>
</section>