---
import Image from "@components/partials/Image.astro";
import Button from "../partials/Button.astro";
import Flag from "@components/partials/Flag.astro";
---

<section class="hero-intro module !mb-95 lg:!mb-160" aria-labelledby="hero-intro-title" role="region">
    <div class="grid lg:items-center">
        <figure class="col-span-5 lg:col-span-4 lg:col-start-2" data-scroll-reveal>
            <div data-image-tilt-effect class="relative -left-10 w-[calc(100%+10px)] lg:left-0 lg:w-full [clip-path:polygon(75%_0%,_100%_50%,_75%_100%,_0%_100%,_25%_50%,_0%_0%)]">
                <Image
                        src="/images/me1.jpg"
                        width="333"
                        height="533"
                        sizes={[
                            {
                                viewportWidth: 1024,
                                imageWidth: 476
                            },
                            {
                                viewportWidth: 768,
                                imageWidth: 844
                            },
                            {
                                viewportWidth: 450,
                                imageWidth: 454
                            },
                            {
                                viewportWidth: 320,
                                imageWidth: 333
                            }
                        ]}
                        loading="eager"
                        className="scale-105"
                        fetchPriority="high"
                        alt="Portrait von Marvin Schmidt, Frontend Architect."
                />
            </div>
        </figure>
        <div class="col-span-5 mt-30 lg:col-start-7 lg:mt-0">
            <Flag>Über mich</Flag>
            <h1 class="text-green mb-15 bg-gradient-to-r from-green to-red bg-clip-text text-transparent" id="hero-intro-title" data-scroll-reveal>
                <span>Frontend </span>
                <span>Architect.</span>
            </h1>
            <p class="mt-9 lg:mt-30" data-scroll-reveal>
                Mit Fokus auf <strong>Performance</strong>, <strong>Accessibility</strong> und <strong>sauberen Code</strong>
                entwickle ich Web-Erlebnisse, die Nutzer lieben und Unternehmen voranbringen –
                <em>minimalistisch gedacht</em>, <em>detailverliebt umgesetzt</em>, vom Design bis zur fertigen Website.
            </p>
            <Button className="mt-18 lg:mt-28" href=`mailto:${import.meta.env.PUBLIC_CONTACT_EMAIL}` icon="send" data-scroll-reveal>Anschreiben</Button>
        </div>
    </div>
</section>