---
import Flag from "@components/partials/Flag.astro";
---

<div class="module services ">
    <div class="grid">
        <div class="col-span-12">
            <Flag>Services</Flag>
            <h2>Was ich biete</h2>
            <p>
                Was ich konkret als Frontend-Entwickler für Dienste anbieten kann
            </p>
        </div>
    </div>
</div>