---

---
<div class="module short-facts">
    <div class="grid-wrap">
        <div class="col-span-full">
            Short-Facts <br>
            9+ Jahre Erfahrung im Frontend Development <br>
            75+ Design-Systeme umgesetzt <br>
            100 % Leidenschaft für Performance & Usability
        </div>
    </div>
</div>