---

import Accordion from "@components/partials/Accordion.astro";
import Flag from "@components/partials/Flag.astro";
import IconHTML from "@components/icons/IconHTML.astro";
---

<section class="skills module overflow-hidden" aria-labelledby="skills-title" id="skills" role="region">
    <div class="grid items-start">
        <div class="col-span-6 lg:col-span-5">
            <Flag>Kompetenzen</Flag>
            <h2 data-scroll-reveal id="skills-title" class="col-span-full lg:flex lg:flex-wrap mb-20 lg:mb-0">Neugier statt Routine</h2>
        </div>
        <div data-scroll-reveal class="col-span-6 lg:col-span-5 lg:col-start-7">
            <p class="text-balance lg:mt-42">
                Frontend-Entwicklung lebt von Veränderung – und ich wachse mit ihr. <strong>Neue Technologien, Tools und Perspektiven</strong> treiben mich an, meine Fähigkeiten stetig zu erweitern. <em>Stillstand ist keine Option</em>.
            </p>
        </div>
        <div data-scroll-reveal class="mt-40 col-span-full">
            <div class="-ml-10 w-[calc(100%+20px)] lg:ml-0 lg:w-full lg:flex lg:flex-nowrap lg:gap-0">
                <Accordion className="bg-full-black" openInitially={true}>
                    <Fragment slot="title">
                        <span class="inline-block pl-80 pr-80">Core Frontend</span>
                        <svg class="absolute left-20 top-1/2 -translate-y-1/2 w-40 h-40 lg:left-20 lg:top-20 lg:w-50 lg:h-50 lg:translate-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M16.25 11.25c.364 0 .704.145.984.391c.549.332.766-.034.766-.391V9.5c0-.825-.675-1.5-1.5-1.5h-2.75c-.356 0-.724-.216-.391-.766c.246-.28.391-.619.391-.984c0-.967-1.007-1.75-2.25-1.75s-2.25.783-2.25 1.75c0 .3.095.576.255.823c.507.673.136.927-.255.927H6.5C5.675 8 5 8.675 5 9.5v1.75c0 .391.254.762.928.244c.246-.149.522-.244.822-.244c.966 0 1.75 1.008 1.75 2.25s-.784 2.25-1.75 2.25c-.364 0-.704-.145-.984-.391c-.549-.332-.766.034-.766.391v2.75c0 .825.675 1.5 1.5 1.5h2.75c.391 0 .762-.254.243-.927a1.593 1.593 0 0 1-.243-.823c0-.967 1.007-1.75 2.25-1.75s2.25.783 2.25 1.75c0 .365-.145.704-.391.984c-.333.55.035.766.391.766h2.75c.825 0 1.5-.675 1.5-1.5v-2.75c0-.391-.254-.762-.928-.244a1.579 1.579 0 0 1-.822.244c-.966 0-1.75-1.008-1.75-2.25s.784-2.25 1.75-2.25z"/>
                        </svg>
                    </Fragment>
                    <ul class="flex flex-wrap py-20 px-25 lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 lg:w-690">
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20">
                                <path fill="currentColor" fill-rule="evenodd" d="m1.5 0l1.547 18l6.943 2l6.961-2.002L18.5 0h-17Zm13.773 4.272l-.097 1.119l-.043.496H6.99l.195 2.26h7.755l-.052.594l-.5 5.812l-.032.373L10 16.178l-.01.004l-4.36-1.256l-.297-3.467h2.136l.151 1.762l2.37.663h.002l2.374-.665l.247-2.863H5.237l-.523-6.084l-.05-.593h10.66l-.051.593Z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">HTML5</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873c-.736-.345-1.554-.585-1.797-1.14c-.091-.33-.105-.51-.046-.705c.15-.646.915-.84 1.515-.66c.39.12.75.42.976.9c1.034-.676 1.034-.676 1.755-1.125c-.27-.42-.404-.601-.586-.78c-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005c-1.14 1.291-.811 3.541.569 4.471c1.365 1.02 3.361 1.244 3.616 2.205c.24 1.17-.87 1.545-1.966 1.41c-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109c1.74 1.756 6.09 1.666 6.871-1.004c.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805c0 1.232.063 2.363-.138 2.711c-.33.689-1.18.601-1.566.48c-.396-.196-.597-.466-.83-.855c-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517c.855.51 2.004.675 3.207.405c.783-.226 1.458-.691 1.811-1.411c.51-.93.402-2.07.397-3.346c.012-2.054 0-4.109 0-6.179l.004-.056z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Javascript</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12S5.373 0 12 0zM9.615 15.998c.175.645.156 1.248-.024 1.792l-.065.18c-.024.061-.052.12-.078.176c-.14.29-.326.56-.555.81c-.698.759-1.672 1.047-2.09.805c-.45-.262-.226-1.335.584-2.19c.871-.918 2.12-1.509 2.12-1.509v-.003l.108-.061zm9.911-10.861c-.542-2.133-4.077-2.834-7.422-1.645c-1.989.707-4.144 1.818-5.693 3.267C4.568 8.48 4.275 9.98 4.396 10.607c.427 2.211 3.457 3.657 4.703 4.73v.006c-.367.18-3.056 1.529-3.686 2.925c-.675 1.47.105 2.521.615 2.655c1.575.436 3.195-.36 4.065-1.649c.84-1.261.766-2.881.404-3.676c.496-.135 1.08-.195 1.83-.104c2.101.24 2.521 1.56 2.43 2.1c-.09.539-.523.854-.674.944c-.15.091-.195.12-.181.181c.015.09.091.09.21.075c.165-.03 1.096-.45 1.141-1.471c.045-1.29-1.186-2.729-3.375-2.7c-.9.016-1.471.091-1.875.256a.362.362 0 0 0-.105-.105c-1.35-1.455-3.855-2.475-3.75-4.41c.03-.705.285-2.564 4.8-4.814c3.705-1.846 6.661-1.335 7.171-.21c.733 1.604-1.576 4.59-5.431 5.024c-1.47.165-2.235-.404-2.431-.615c-.209-.225-.239-.24-.314-.194c-.12.06-.045.255 0 .375c.12.3.585.825 1.396 1.095c.704.225 2.43.359 4.5-.45c2.324-.899 4.139-3.405 3.614-5.505l.073.067z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">SCSS</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 256">
                                <g fill="none">
                                    <rect width="256" height="256" fill="#FFF" rx="60"/>
                                    <path fill="#000" fill-rule="evenodd" d="M83 110c6-24 21.001-36 45-36c36 0 40.5 27 58.5 31.5c12.001 3.001 22.5-1.499 31.5-13.5c-5.999 23.999-21.001 36-45 36c-36 0-40.5-27-58.5-31.5C102.499 93.5 92 98 83 110Zm-45 54c6-23.999 21-36 45-36c36 0 40.5 27 58.5 31.5c12.001 3.001 22.5-1.499 31.5-13.5c-5.999 23.999-21.001 36-45 36c-36 0-40.5-27-58.5-31.5c-12-3.001-22.5 1.499-31.5 13.5Z" clip-rule="evenodd"/>
                                    <defs>
                                        <linearGradient id="skillIconsTailwindcssDark0" x1="86.5" x2="163.5" y1="74" y2="185.5" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#32B1C1"/>
                                            <stop offset="1" stop-color="#14C6B7"/>
                                        </linearGradient>
                                    </defs>
                                </g>
                            </svg>
                            <strong class="text-16 lg:text-22">Tailwind</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M5.936 4.694c-.336 0-.675.078-1.013.222c-.34.145-.676.346-1.007.605a7.133 7.133 0 0 0-.97.917c-.313.354-.61.745-.887 1.164c-.276.42-.533.867-.78 1.32h-.001v.001c-.239.473-.448.96-.63 1.455c-.18.496-.324.993-.438 1.497c-.11.5-.178.987-.2 1.465a.515.515 0 0 0-.01.091v.095c0 .261.038.53.075.776v.002l.001.002c.068.262.175.504.31.717a1.7 1.7 0 0 0 .537.518c.217.138.474.207.776.207c.263 0 .536-.06.817-.185c.279-.125.557-.288.834-.479c.268-.192.536-.412.794-.66c.207-.192.396-.392.583-.59l-.196.608c-.085.293-.18.576-.257.853c-.085.274-.152.52-.209.738c-.057.216-.096.362-.096.456v.215c0 .241.025.411.104.518a.398.398 0 0 0 .333.152a.435.435 0 0 0 .265-.095c.081-.06.15-.137.219-.224v-.002l.002-.001c.057-.087.115-.18.164-.278c.05-.101.078-.19.107-.269v-.001l.067-.24l.143-.495l.19-.662c.076-.247.142-.495.227-.747l.225-.75c.072-.244.14-.465.203-.661c.063-.2.116-.362.16-.493c.02-.065.04-.116.054-.154l.014-.032l.04.018l.018-.048c.076-.218.151-.427.227-.626c.076-.2.152-.4.21-.597a3.762 3.762 0 0 0 .22-1.29a.637.637 0 0 0-.05-.255a.44.44 0 0 0-.124-.18a.499.499 0 0 0-.174-.1a.622.622 0 0 0-.19-.03a.655.655 0 0 0-.378.127c-.129.086-.225.229-.297.422v.001l-.55 1.764a3.91 3.91 0 0 1-.317.513v.001a9.407 9.407 0 0 1-1.71 1.832a3.53 3.53 0 0 1-.6.404a1.063 1.063 0 0 1-.5.146a.48.48 0 0 1-.312-.103a.637.637 0 0 1-.204-.275a1.582 1.582 0 0 1-.102-.387a3.182 3.182 0 0 1-.028-.422c0-.413.066-.874.198-1.394c.132-.52.312-1.04.539-1.579c.227-.54.492-1.06.786-1.571c.293-.511.605-.965.926-1.362c.32-.396.64-.706.97-.95c.327-.244.62-.362.902-.362a.88.88 0 0 1 .497.145c.152.098.29.263.42.496v-.001c.134.259.269.46.385.606c.12.15.259.227.408.227a.51.51 0 0 0 .416-.208c.115-.138.17-.327.17-.556c0-.096-.01-.2-.03-.307a.87.87 0 0 0-.14-.334c-.314-.47-.651-.807-1.01-1.024H7.06a2.216 2.216 0 0 0-1.125-.317zm10.961.855a.802.802 0 0 0-.41.12h-.001l-.001.001a.85.85 0 0 0-.318.43l-1.889 4.758l-.417 1.045c-.153.38-.295.76-.447 1.148a4.792 4.792 0 0 0-.176.551a4.995 4.995 0 0 1-.257.215c-.207.16-.403.281-.589.365h-.002a1.045 1.045 0 0 1-.463.129c-.082 0-.137-.02-.172-.053c-.035-.033-.056-.084-.056-.166c0-.185.028-.39.084-.615c.057-.22.132-.451.217-.683a8.73 8.73 0 0 1 .274-.69l.276-.644c.086-.2.153-.382.21-.534a1.15 1.15 0 0 0 .089-.377a.71.71 0 0 0-.143-.437a.474.474 0 0 0-.39-.19a.466.466 0 0 0-.378.179a1.514 1.514 0 0 0-.254.42a3.917 3.917 0 0 0-.201.537c-.056.19-.131.368-.207.535c-.113.25-.246.524-.416.826a6.64 6.64 0 0 1-.565.849c-.207.26-.432.479-.675.654a1.26 1.26 0 0 1-.75.257c-.083 0-.138-.03-.167-.088a.472.472 0 0 1-.052-.225c.01-.204.046-.419.112-.643c.066-.222.141-.443.226-.66c.085-.21.18-.424.283-.625c.105-.201.2-.391.294-.56v-.001l.248-.47a2.26 2.26 0 0 0 .135-.33l.001-.002v-.001c.01-.04.021-.09.021-.145a.419.419 0 0 0-.054-.214v-.001l-.001-.001a.526.526 0 0 0-.335-.238a.65.65 0 0 0-.588.103c-.132.091-.231.232-.319.426a23.085 23.085 0 0 0-.79 1.817c-.19.505-.323.914-.418 1.229a4.666 4.666 0 0 0-.163.7v.001l-.02.231v.002c0 .214.029.4.09.55v.002c.068.147.148.266.249.357a.893.893 0 0 0 .36.191c.132.04.27.059.41.059c.311 0 .598-.058.861-.155s.501-.232.714-.396a3.4 3.4 0 0 0 .563-.548c.12-.14.21-.285.3-.427c-.04.22-.078.437-.078.614c0 .33.063.57.202.717a.695.695 0 0 0 .523.214c.208 0 .439-.057.694-.17c.253-.113.51-.262.77-.446c.065-.045.127-.093.19-.141l.005.036a1 1 0 0 0 .15.35h.001l.001.002c.08.099.17.18.291.24a.992.992 0 0 0 .45.091a2 2 0 0 0 .787-.175h.002c.268-.125.537-.279.805-.48a8.85 8.85 0 0 0 .812-.697l.01-.009c-.046.106-.09.212-.138.319c-.219.484-.442.972-.674 1.471c-.233.5-.466.994-.684 1.488l-.001.003l-.001.002a3.93 3.93 0 0 1-.104.278c-.036.092-.085.188-.115.298v.001c-.037.1-.075.198-.095.306c-.03.11-.04.217-.04.315c0 .208.059.367.172.447a.67.67 0 0 0 .398.115c.122 0 .234-.03.335-.08v-.001h.001a.95.95 0 0 0 .263-.22c.076-.09.14-.192.198-.308a3.91 3.91 0 0 0 .154-.365l.002-.004v-.004c.008-.037.037-.121.084-.244l.162-.436l.19-.512l.199-.522l.17-.435c.048-.124.077-.21.095-.255v-.001c.019-.038.048-.095.085-.189l.133-.313l.161-.37l.172-.38l.142-.342l.103-.226l.001-.001c.085-.17.188-.358.302-.566v-.001c.123-.207.255-.405.396-.612v-.001c.152-.2.302-.397.463-.585c.161-.187.33-.347.5-.498c.173-.14.346-.262.521-.345a1.14 1.14 0 0 1 .499-.128c.086 0 .143.018.178.039a.135.135 0 0 1 .042.103c0 .08-.043.207-.144.353v.001c-.104.16-.226.33-.377.519c-.162.19-.323.389-.503.597c-.18.21-.352.419-.514.628a6.18 6.18 0 0 0-.412.603v.001a1.518 1.518 0 0 0-.205.53v.007a.193.193 0 0 1-.004.022c-.003.01-.006.014-.006.035v.057c0 .257.092.465.274.606c.183.152.441.22.76.22c.349 0 .67-.068.97-.204c.298-.134.605-.316.92-.556h.001c.315-.236.64-.517.991-.843c.341-.325.739-.685 1.184-1.08a.847.847 0 0 0 .262-.352c.059-.138.089-.275.089-.41a.635.635 0 0 0-.082-.324a.278.278 0 0 0-.248-.148a.369.369 0 0 0-.164.043c-.053.026-.109.06-.17.101c-.104.033.017.063.03.108c-.538.481-1.004.887-1.373 1.206c-.38.332-.699.588-.946.788a5.893 5.893 0 0 1-.574.41c-.132.079-.233.117-.289.117c-.078 0-.132-.02-.156-.043a.142.142 0 0 1-.043-.108a.22.22 0 0 1 .035-.075a1.55 1.55 0 0 1 .117-.152l.398-.465c.162-.181.324-.381.504-.6c.18-.22.35-.447.502-.682c.16-.23.285-.467.39-.7c.101-.233.156-.455.156-.666a.837.837 0 0 0-.106-.426a.92.92 0 0 0-.277-.3c-.11-.08-.238-.14-.375-.181h-.001a1.557 1.557 0 0 0-1.043.073a3.064 3.064 0 0 0-.598.332a5.677 5.677 0 0 0-.565.45a9.89 9.89 0 0 0-.38.378l.036-.176c.015-.073.025-.141.034-.207v-.001c.01-.068.013-.116.013-.149a.529.529 0 0 0-.126-.373v-.001h-.002c-.087-.09-.222-.129-.4-.129c-.122 0-.24.07-.34.19a2.18 2.18 0 0 0-.263.418a4.225 4.225 0 0 0-.202.48l-.133.378v.001c-.046.159-.097.321-.15.485a.33.33 0 0 0-.041.014a.33.33 0 0 0-.136.089l.003-.003c-.118.114-.251.247-.399.389c-.147.142-.303.284-.464.426c-.162.133-.326.275-.49.407c-.162.13-.32.245-.471.345c-.15.101-.29.18-.419.241a.776.776 0 0 1-.309.088c-.06 0-.085-.014-.1-.042h-.001a.311.311 0 0 1-.032-.155c0-.113.02-.243.064-.39c.042-.146.086-.274.13-.385l.028-.03l.374-.952c.142-.365.294-.746.465-1.152l.513-1.254c.17-.427.342-.84.503-1.234l.475-1.102c.142-.336.266-.619.37-.848l-.001.002c.059-.117.097-.227.135-.32v-.002a.934.934 0 0 0 .055-.297c0-.196-.061-.35-.18-.443a.6.6 0 0 0-.384-.133Z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Gulp</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M1.763 0C.786 0 0 .786 0 1.763v20.474C0 23.214.786 24 1.763 24h20.474c.977 0 1.763-.786 1.763-1.763V1.763C24 .786 23.214 0 22.237 0zM5.13 5.323l13.837.019l-.009 13.836h-3.464l.01-10.382h-3.456L12.04 19.17H5.113z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">NPM</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                <path fill="none" stroke="currentColor" stroke-linejoin="round" d="M18.38 27.94v-14.4l11.19-6.46c6.2-3.58 17.3 5.25 12.64 13.33"/>
                                <path fill="none" stroke="currentColor" stroke-linejoin="round" d="m18.38 20.94l12.47-7.2l11.19 6.46c6.2 3.58 4.1 17.61-5.23 17.61"/>
                                <path fill="none" stroke="currentColor" stroke-linejoin="round" d="m24.44 17.44l12.47 7.2v12.93c0 7.16-13.2 12.36-17.86 4.28"/>
                                <path fill="none" stroke="currentColor" stroke-linejoin="round" d="M30.5 21.2v14.14L19.31 41.8c-6.2 3.58-17.3-5.25-12.64-13.33"/>
                                <path fill="none" stroke="currentColor" stroke-linejoin="round" d="m30.5 27.94l-12.47 7.2l-11.19-6.46c-6.21-3.59-4.11-17.61 5.22-17.61"/>
                                <path fill="none" stroke="currentColor" stroke-linejoin="round" d="m24.44 31.44l-12.47-7.2V11.31c0-7.16 13.2-12.36 17.86-4.28"/>
                            </svg>
                            <strong class="text-16 lg:text-22">OpenAi</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M23.546 10.93L13.067.452a1.55 1.55 0 0 0-2.188 0L8.708 2.627l2.76 2.76a1.838 1.838 0 0 1 2.327 2.341l2.658 2.66a1.838 1.838 0 0 1 1.9 3.039a1.837 1.837 0 0 1-2.6 0a1.846 1.846 0 0 1-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348a1.848 1.848 0 0 1 0 2.6a1.844 1.844 0 0 1-2.609 0a1.834 1.834 0 0 1 0-2.598c.182-.18.387-.316.605-.406V8.835a1.834 1.834 0 0 1-.996-2.41L7.636 3.7L.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477a1.545 1.545 0 0 0 2.186 0l10.43-10.43a1.544 1.544 0 0 0 0-2.187"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Git</strong>
                        </li>
                    </ul>
                </Accordion>

                <Accordion className="bg-[#686C71]">
                    <Fragment slot="title">
                        <span class="inline-block pl-80 pr-80">Architecture & Engineering</span>
                        <svg class="absolute left-18 top-1/2 -translate-y-1/2 w-40 h-40 lg:left-20 lg:top-20 lg:w-50 lg:h-50 lg:translate-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor" d="m6.75 21l-.25-2.2l2.85-7.85q.375.35.813.588t.937.362l-2.75 7.55L6.75 21Zm10.5 0l-1.6-1.55l-2.75-7.55q.5-.125.938-.363t.812-.587l2.85 7.85l-.25 2.2ZM12 11q-1.25 0-2.125-.875T9 8q0-.975.563-1.738T11 5.2V3h2v2.2q.875.3 1.438 1.063T15 8q0 1.25-.875 2.125T12 11Zm0-2q.425 0 .713-.288T13 8q0-.425-.288-.713T12 7q-.425 0-.713.288T11 8q0 .425.288.713T12 9Z"/>
                        </svg>
                    </Fragment>
                    <ul class="flex flex-wrap py-20 px-25 lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 lg:w-690">
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512">
                                <path fill="currentColor" d="m256 144.03l-55.49-96.11h-79.43L256 281.61L390.92 47.92h-79.43L256 144.03z"/>
                                <path fill="currentColor" d="M409.4 47.92L256 313.61L102.6 47.92H15.74L256 464.08L496.26 47.92H409.4z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Vue</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M200.662 81.35L0 430.65h130.774l139.945-239.803zm134.256 40.313l-39.023 69.167l138.703 239.82H512zm-51.596 91.052L155.924 430.651h253.485z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Nuxt</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M12 0C5.445 0 .103 5.285.01 11.817c-.097 6.634 5.285 12.131 11.92 12.17a11.91 11.91 0 0 0 5.775-1.443a.281.281 0 0 0 .052-.457l-1.122-.994a.79.79 0 0 0-.833-.14a9.693 9.693 0 0 1-3.923.77c-5.36-.067-9.692-4.527-9.607-9.888c.084-5.293 4.417-9.573 9.73-9.573h9.73v17.296l-5.522-4.907a.407.407 0 0 0-.596.063a4.52 4.52 0 0 1-3.934 1.793a4.538 4.538 0 0 1-4.192-4.168A4.53 4.53 0 0 1 12 7.467a4.532 4.532 0 0 1 4.509 4.126c.018.205.11.397.265.533l1.438 1.275a.28.28 0 0 0 .462-.158a6.82 6.82 0 0 0 .099-1.725c-.232-3.376-2.966-6.092-6.345-6.3c-3.873-.24-7.11 2.79-7.214 6.588c-.1 3.7 2.933 6.892 6.634 6.974a6.75 6.75 0 0 0 4.136-1.294l7.212 6.394a.48.48 0 0 0 .797-.36V.456A.456.456 0 0 0 23.54 0Z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Algolia</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M16.074 16.86c-.72.616-2.157 1.035-3.812 1.035c-2.032 0-3.735-.632-4.187-1.483c-.161.488-.198 1.046-.198 1.402c0 0-.106 1.75 1.111 2.968c0-.632.513-1.145 1.145-1.145c1.083 0 1.082.945 1.081 1.712v.069c0 1.164.711 2.161 1.723 2.582a2.347 2.347 0 0 1-.236-1.029c0-1.11.652-1.523 1.41-2.003c.602-.383 1.272-.807 1.733-1.66a3.129 3.129 0 0 0 .378-1.494a3.14 3.14 0 0 0-.148-.954zM15.551.6c.196.244.296.572.496 1.229l4.368 14.347a18.18 18.18 0 0 0-5.222-1.768L12.35 4.8a.37.37 0 0 0-.71.002l-2.81 9.603a18.175 18.175 0 0 0-5.245 1.771L7.974 1.827c.2-.656.3-.984.497-1.227a1.613 1.613 0 0 1 .654-.484C9.415 0 9.757 0 10.443 0h3.135c.686 0 1.03 0 1.32.117A1.614 1.614 0 0 1 15.55.6z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Astro</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 1024 1024">
                                <path fill="currentColor" d="M807 480q-109 0-186-77t-77-186q0-64 36-121.5T672 0q-4 10-12.5 31t-13 32t-12 29.5t-11 30T616 148t-6 24.5t-2 19.5q0 95 64.5 159.5T832 416q9 0 19.5-2t24.5-6t25.5-7.5t30-11t29.5-12t32-13t31-12.5q-38 56-95.5 92T807 480zm-71 160q61 0 114.5-7T992 608q-55 62-133 95t-167 33q-110 0-203-54T342 535t-54-202q0-90 33-168t95-133q-18 88-25 141.5T384 288q0 94 48 175t129 129t175 48zM576 896q183 0 320-32q-70 78-170 119t-214 41q-139 0-257-68.5T68.5 769T0 512q0-114 41-214t119-170q-32 137-32 320q0 91 35.5 174T259 765t143 95.5T576 896z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">jQuery</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M7.7 0C5.033 0 4.066.278 3.09.8A5.447 5.447 0 0 0 .825 3.07c-.522.977-.8 1.947-.8 4.622v.998c0 .199.078.388.218.529l1.77 1.774a.15.15 0 0 0 .257-.106V8.019c0-2.006.208-2.733.6-3.467A4.088 4.088 0 0 1 4.568 2.85c.731-.392 1.457-.6 3.459-.6h2.164c.199 0 .39-.08.53-.221l1.77-1.772A.15.15 0 0 0 12.387 0zm7.605 0c-.2 0-.392.08-.532.22l-1.769 1.775a.147.147 0 0 0-.044.104c0 .083.068.15.15.15h2.862c2.002 0 2.728.21 3.46.601a4.089 4.089 0 0 1 1.698 1.702c.39.734.599 1.461.599 3.467v2.17c0 .198.078.39.218.53l1.77 1.774a.15.15 0 0 0 .257-.106V7.692c0-2.675-.278-3.645-.8-4.623A5.446 5.446 0 0 0 20.91.801C19.935.278 18.968 0 16.3 0zM6.761 3.75a2.995 2.995 0 0 0-2.993 2.999v5.691a.75.75 0 0 0 .219.529l1.77 1.776a.149.149 0 0 0 .255-.106v-7.14a1.5 1.5 0 0 1 .097-.53c.072-.2.188-.385.348-.545l2.308-2.421a.15.15 0 0 0-.11-.253zm4.802 0c-.2 0-.39.08-.53.22L9.26 5.744A.151.151 0 0 0 9.366 6h7.124c.186 0 .364.034.528.097c.2.072.386.188.546.347l2.413 2.313a.15.15 0 0 0 .255-.108v-1.9a2.995 2.995 0 0 0-2.993-3zm6.573 5.463a.15.15 0 0 0-.15.15v7.139a1.5 1.5 0 0 1-.095.53a1.49 1.49 0 0 1-.348.546l-2.308 2.42a.15.15 0 0 0 .108.255h1.896a2.997 2.997 0 0 0 2.993-3.002v-5.69a.752.752 0 0 0-.219-.53l-1.77-1.774a.15.15 0 0 0-.107-.044zm-17.96 2.25a.15.15 0 0 0-.15.15v4.695c0 2.674.278 3.645.8 4.623a5.442 5.442 0 0 0 2.263 2.267c.976.522 1.943.802 4.612.802h.994c.2 0 .39-.08.53-.22l1.771-1.775a.149.149 0 0 0-.106-.255H8.027c-2.002 0-2.728-.208-3.46-.6a4.088 4.088 0 0 1-1.698-1.702c-.39-.734-.599-1.461-.599-3.467v-2.172a.749.749 0 0 0-.22-.528L.282 11.507a.15.15 0 0 0-.106-.044zm21.703 1.5a.15.15 0 0 0-.15.15v2.868c0 2.006-.208 2.733-.6 3.467a4.088 4.088 0 0 1-1.698 1.702c-.731.392-1.457.6-3.459.6h-2.164a.749.749 0 0 0-.532.22l-1.769 1.773a.151.151 0 0 0-.043.107c0 .083.065.15.148.15H16.3c2.67 0 3.636-.28 4.612-.802a5.442 5.442 0 0 0 2.263-2.267c.522-.978.8-1.948.8-4.623v-.998a.749.749 0 0 0-.22-.529l-1.769-1.774a.15.15 0 0 0-.106-.044zm-17.96 2.238a.15.15 0 0 0-.151.15v1.898a2.997 2.997 0 0 0 2.993 3.001h5.676c.2 0 .39-.08.53-.22l1.773-1.775a.146.146 0 0 0 .044-.104a.15.15 0 0 0-.15-.15H7.51a1.48 1.48 0 0 1-.53-.098a1.49 1.49 0 0 1-.546-.347l-2.413-2.313a.147.147 0 0 0-.103-.042z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Prismic</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M13.953 11.462H9.088v2.34h4.748c.281 0 .538-.118.749-.305c.187-.187.304-.468.304-.819a1.404 1.404 0 0 0-.257-.842c-.188-.234-.398-.374-.679-.374zm.164-2.83c.21-.14.304-.445.304-.843c0-.35-.094-.608-.257-.771a.935.935 0 0 0-.608-.234H9.088v2.105h4.374c.234 0 .468-.117.655-.257zM21.251 0H2.89c-.585 0-1.053.468-1.053 1.03v18.385c0 .562.468.912 1.03.912H5.58V24l3.368-3.65h12.304c.562 0 .913-.35.913-.935V1.053c0-.562-.351-1.03-.936-1.03zm-3.087 14.9a2.827 2.827 0 0 1-1.006 1.03c-.445.28-.936.538-1.497.655c-.562.14-1.17.257-1.801.257H5.579v-13.1h9.403c.468 0 .866.094 1.24.305c.351.187.679.444.936.748c.524.64.806 1.443.795 2.27c0 .608-.164 1.192-.468 1.754a2.924 2.924 0 0 1-1.403 1.263c.748.21 1.333.585 1.778 1.123c.42.561.631 1.286.631 2.199c0 .584-.117 1.076-.35 1.497z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Storyblok</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M21.474 0H2.526A2.516 2.516 0 0 0 0 2.526v18.948A2.516 2.516 0 0 0 2.526 24h18.948A2.534 2.534 0 0 0 24 21.474V2.526A2.516 2.516 0 0 0 21.474 0m-9.516 14.625c.786 0 1.628-.31 2.442-1.039l1.123 1.291c-1.18.955-2.527 1.488-3.874 1.488c-2.667 0-4.35-1.769-3.958-4.267c.393-2.498 2.667-4.266 5.334-4.266c1.29 0 2.498.505 3.34 1.431l-1.572 1.291c-.45-.59-1.207-.982-2.05-.982c-1.6 0-2.834 1.039-3.087 2.526c-.224 1.488.674 2.527 2.302 2.527"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Craft</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 256">
                                <g fill="none">
                                    <rect width="256" height="256" fill="#FFF" rx="60"/>
                                    <g clip-path="#FFF">
                                        <path fill="#fff" d="M79 171.75h132.356v-36.625l-25.144-14.419l-4.337-1.875L79 119.537v52.213Z"/>
                                        <path fill="#686C71" d="M165.575 166.887c1.231-4.218.763-8.087-1.287-10.962c-1.875-2.638-5.044-4.163-8.85-4.338l-72.157-.937a1.34 1.34 0 0 1-1.112-.588c-.238-.35-.294-.812-.175-1.287c.237-.706.937-1.231 1.7-1.288l72.8-.937c8.625-.413 18-7.388 21.275-15.938l4.162-10.843a2.37 2.37 0 0 0 .125-1.407c-4.687-21.218-23.625-37.043-46.25-37.043c-20.875 0-38.562 13.481-44.9 32.187a21.626 21.626 0 0 0-14.95-4.162c-10.025 1-18.125 9.025-19.05 19.05a22.369 22.369 0 0 0 .525 7.443A30.252 30.252 0 0 0 28 166.125c0 1.462.125 2.937.294 4.394c.125.706.706 1.231 1.406 1.231h133.175a1.81 1.81 0 0 0 1.7-1.288l1-3.575Z"/>
                                        <path fill="#686C71" d="m188.55 120.519l-2 .062c-.469 0-.875.35-1.063.813l-2.812 9.787c-1.231 4.219-.763 8.088 1.287 10.963c1.875 2.637 5.044 4.162 8.85 4.337l15.357.938c.468 0 .875.237 1.112.587c.238.35.294.875.175 1.288c-.237.706-.937 1.231-1.7 1.287l-16 .938c-8.675.412-18 7.387-21.275 15.937l-1.175 2.988c-.237.587.175 1.175.813 1.175H225.1a1.44 1.44 0 0 0 1.406-1.057a40.03 40.03 0 0 0 1.494-10.65a39.5 39.5 0 0 0-39.45-39.387"/>
                                    </g>
                                    <defs>
                                        <clipPath id="skillIconsCloudflareDark0">
                                            <path fill="#fff" d="M28 28h200v200H28z"/>
                                        </clipPath>
                                    </defs>
                                </g>
                            </svg>
                            <strong class="text-16 lg:text-22">Cloudflare</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 205">
                                <path fill="#FFF" d="m39.458 141.089l-13.392 4.892l-.72 39.841l46.36-16.936c-15.9-5.34-27.512-14.738-32.248-27.797"/>
                                <path fill="#FFF" d="M46.467 98.95L0 115.925l26.066 30.056l13.392-4.892c-4.722-13.021-1.81-27.74 7.009-42.139"/>
                                <path fill="#FFF" d="M124.662 41.462c-59.171 21.616-97.318 66.22-85.204 99.627L253.735 62.81c-12.114-33.407-69.902-42.965-129.073-21.35"/>
                                <path fill="#FFF" d="M168.532 162.438c59.17-21.616 97.39-66.023 85.203-99.627L39.458 141.089c12.186 33.604 69.903 42.964 129.074 21.349"/>
                                <path fill="#FFF" d="M253.735 62.81L39.458 141.09c4.196 11.57 20.196 17.27 42.647 17.27c21.887 0 49.905-5.413 79.115-16.084c59.171-21.616 100.802-56.614 92.515-79.464"/>
                                <path fill="#FFF" d="M211.089 45.54c-21.888 0-49.906 5.414-79.116 16.084c-59.17 21.616-100.801 56.614-92.515 79.465L253.735 62.81c-4.195-11.57-20.195-17.27-42.645-17.27"/>
                                <path fill="#FFF" d="M199.255 187.932h-.002c-6.304 0-15.605-5.695-27.644-16.926c-14.244-13.287-30.56-32.748-45.942-54.799c-15.383-22.05-28.023-44.094-35.592-62.072c-8.247-19.593-9.423-31.64-3.495-35.806c1.3-.913 2.867-1.375 4.656-1.375c4.822 0 14.217 3.59 31.59 20.693l.38.374l-.052.531a226.977 226.977 0 0 0-.326 3.685l-.193 2.416l-1.705-1.717c-18.718-18.858-26.958-20.894-29.632-20.894c-.763 0-1.37.155-1.805.461c-2.572 1.807-2.737 10.655 5.258 29.648c7.434 17.658 19.89 39.37 35.074 61.133c15.185 21.766 31.25 40.94 45.24 53.99c15.084 14.071 21.882 15.59 24.104 15.59c.767 0 1.391-.164 1.853-.49c2.713-1.905 2.716-11.384-6.2-31.827l-.41-.938l.897-.49c.896-.491 1.763-.974 2.575-1.436l1.074-.61l.494 1.133c6.322 14.485 12.232 32.895 4.483 38.343c-1.306.917-2.88 1.383-4.68 1.383Zm-.002-2.235h.002l-.001 1.117v-1.117Z"/>
                                <path fill="#FFF" d="m169.968 161.827l-.09 1.113c-1.496 18.51-5.435 40.764-15.705 41.664c-.206.019-.42.028-.635.028c-6.976 0-13.577-9.996-19.617-29.71c-5.716-18.651-10.15-43.693-12.488-70.513c-2.338-26.815-2.303-52.25.098-71.618C124.15 11.685 129.132.662 136.341.03c.214-.02.435-.03.653-.03c5.061 0 12.689 5.73 20.497 32.424l-5.098.984c-2.607-8.92-5.449-16.175-8.27-21.16c-2.609-4.611-5.146-7.15-7.143-7.15c-.066 0-.132.002-.197.007c-3.125.275-7.676 7.855-10.214 28.315c-2.358 19.022-2.387 44.075-.08 70.545c2.309 26.474 6.671 51.142 12.284 69.46c2.513 8.203 5.27 14.964 7.973 19.552c2.492 4.23 4.904 6.56 6.79 6.56c.066 0 .13-.003.195-.008c2.99-.262 8.625-8.15 10.996-35.904l5.241-1.798"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Zepplin</strong>
                        </li>
                    </ul>
                </Accordion>
                <Accordion className="bg-blue text-black">
                    <Fragment slot="title">
                        <span class="inline-block pl-80 pr-80">UX & Interface Design</span>
                        <svg class="absolute left-26 top-1/2 -translate-y-1/2 w-26 h-26 lg:left-30 lg:top-33 lg:w-30 lg:h-30 lg:translate-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1025 1024">
                            <path fill="currentColor" d="m692.43 487l65 65l-81 81q-9 9 0 18l17 17q9 9 18 0l81-81l125 125l-81 81q-9 9 0 17l17 18q9 9 18 0l81-81l63 63q9 9 9 22t-9 23l-160 160q-10 9-23 9t-22-9l-323-323l-188 188q-16 16-39 16t-39-16l-76-77q-16-16-16-38.5t16-38.5l188-188l-324-324q-9-9-9-22t9-22l160-161q10-9 23-9t22 9l63 63l-81 81q-9 9 0 18l17 17q9 9 18 0l81-81l125 125l-81 81q-9 9 0 18l17 17q9 9 18 0l81-81l65 66l317-317q16-16 38.5-16t38.5 16l77 77q16 16 16 38.5t-16 38.5zm-626 321q2 8 7 13l130 130q5 5 13 7q-5 10-8 12l-176 54q-24 0-28-4t-4-28l54-176q2-2 12-8z"/>
                        </svg>
                    </Fragment>
                    <ul class="flex flex-wrap py-20 px-25 lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 lg:w-690">
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 64 64">
                                <path fill="currentColor" d="M56.204.779S7.363.764 7.378.779C2.884.779.276 3.102.276 7.849v48.937c0 4.441 2.49 6.842 6.981 6.842h49.144c4.49 0 6.653-2.285 6.653-6.842V7.849c0-4.631-2.219-7.07-6.85-7.07zM28.999 58.152c-4.494 0-8.719-1.75-11.896-4.927a16.715 16.715 0 0 1-4.928-11.896a16.862 16.862 0 0 1 8.57-14.663l1.454 2.578a13.899 13.899 0 0 0-7.064 12.085a13.78 13.78 0 0 0 4.06 9.803a13.773 13.773 0 0 0 9.804 4.061a13.815 13.815 0 0 0 13.482-10.619l2.878.69a16.764 16.764 0 0 1-16.361 12.888zm22.804-6.201l-1.23.492l-.625-1.05l-8.092-15.009h-17.83l-.144-1.439l-2.592-23.953l.034-.033a4.716 4.716 0 0 1 3.854-6.33a4.706 4.706 0 1 1 1.119 9.346a4.698 4.698 0 0 1-1.712-.115l1.297 11.254l13.484.005v2.961l-13.162.111l.48 5.232h16.947l.419.665l7.885 14.682l3.087-1.264l1.099 2.733l-4.317 1.713z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Web Accessibility</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M22 2H2v20h20zM8 6v10h5v2H6V6zm12 7.5h-1c-1.015 0-1.99.403-2.707 1.121l-.293.293V18h-2v-7h2v1.331a5.83 5.83 0 0 1 3-.831h1z"/>
                            </svg>
                            <strong class="text-16 lg:text-22">Lightroom</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <g fill="currentColor" fill-rule="evenodd" transform="translate(4)">
                                    <circle cx="12" cy="12" r="4"/>
                                    <path d="M4 24a4 4 0 0 0 4-4v-4H4a4 4 0 1 0 0 8Zm0-8h4V8H4a4 4 0 1 0 0 8Zm0-8h4V0H4a4 4 0 1 0 0 8Zm8 0H8V0h4a4 4 0 1 1 0 8Z"/>
                                </g>
                            </svg>
                            <strong class="text-16 lg:text-22">Figma</strong>
                        </li>
                        <li class="w-1/2 my-5 lg:my-20" data-image-tilt-effect>
                            <svg class="inline-block mr-15 mb-5 w-30 h-30 lg:w-70 lg:h-70" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path stroke-dasharray="72" stroke-dashoffset="72" d="M3 14v-9h18v14h-18v-5">
                                        <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="72;0"/>
                                    </path>
                                    <path stroke-dasharray="24" stroke-dashoffset="24" stroke-width="1" d="M3 16l4 -3l3 2l6 -5l5 4">
                                        <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.4s" values="24;0"/>
                                    </path>
                                </g>
                                <g fill="currentColor" fill-opacity="0">
                                    <circle cx="7.5" cy="9.5" r="1.5">
                                        <animate fill="freeze" attributeName="fill-opacity" begin="1s" dur="0.2s" values="0;1"/>
                                    </circle>
                                    <path d="M3 16l4 -3l3 2l6 -5l5 4V19H3Z">
                                        <animate fill="freeze" attributeName="fill-opacity" begin="1.3s" dur="0.5s" values="0;1"/>
                                    </path>
                                </g>
                            </svg>
                            <strong class="text-16 lg:text-22">Bildbearbeitung</strong>
                        </li>


                    </ul>
                </Accordion>
            </div>
        </div>
    </div>
</section>