@layer utilities {

    @keyframes blink {
        0%, 49% { opacity: 1; }
        50%, 100% { opacity: 0; }
    }

    .animated-background {
        background-size: 400%;
        -webkit-animation: animation 20s ease infinite;
        -moz-animation: animation 20s ease infinite;
        animation: animation 20s ease infinite;
    }

    @keyframes animation {
        0%,
        100% {
            background-position: 0 50%;
        }

        50% {
            background-position: 100% 50%;
        }
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    @keyframes bg-pan {
        0% { background-position: 0 20%; }
        50% { background-position: 100% 20%; }
        100% { background-position: 0 20%; }
    }
    .bg-animate {
        background-size: 500% 500%;
        animation: bg-pan 10s ease infinite;
    }

}