---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Marvin Schmidt - Impressum">
    <div class="content-text">
        <div class="grid">
            <div class="col-span-12 lg:col-span-8 lg:col-start-2">
                <h1 class="h2 mb-10">Impressum</h1>
                <h2 class="h4 mb-35">
                    Angaben gemäß § 5 TMG
                </h2>
                <p class="my-35">
                    Marvin Schmidt <br>
                    QED Commerce <br>
                    Marbacher Straße 6<br>
                    40597 Düsseldorf
                </p>
                <p class="my-35">
                    <strong>Kontakt</strong><br>
                    E-Mail: ms.qed.commerce@gmail.com
                </p>
                <p class="my-35">
                    <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
                    Marvin Schmidt<br>
                    Marbacher Straße 6 <br>
                    40597 Düsseldorf
                </p>
                <hr class="my-35">
                <h2 class="h4 my-35">Haftungsausschluss (Disclaimer)</h2>
                <p class="my-35">
                    <strong>Haftung für Inhalte</strong><br>
                    Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann jedoch keine Gewähr übernommen werden.
                </p>
                <p class="my-35">
                    <strong>Haftung für Links</strong><br>
                    Diese Website enthält Links zu externen Websites Dritter, auf deren Inhalte kein Einfluss besteht. Deshalb kann für diese fremden Inhalte keine Gewähr übernommen werden. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
                </p>
                <p>
                    <strong>Urheberrecht</strong><br>
                    Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung oder jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
                </p>
            </div>
        </div>
    </div>
</Layout>


