---
import Layout from '@layouts/Layout.astro';
import Button from "@components/partials/Button.astro";
---

<Layout title="Marvin Schmidt - Nachricht verschickt" noindex={true}>
    <div class="content-text">
        <div class="grid">
            <div class="col-span-12 lg:col-span-8 lg:col-start-2">
                <h1 class="h2 mb-10">Super, das hat geklappt!</h1>
                <p class="my-35">
                    Deine Nachricht wurde erfolgreich übermittelt. <br>
                    Du kannst diese Seite jetzt schließen oder zur Startseite zurückkehren.
                </p>
                <Button icon="home" href="/">Zurück zur Startseite</Button>
            </div>
        </div>
    </div>
</Layout>


