---

---
<div class="site-grid-lines grid fixed top-0 left-1/2 -translate-x-1/2 pointer-events-none -z-1">
    <div class="col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="hidden lg:block col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="hidden lg:block col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="hidden lg:block col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="hidden lg:block col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="hidden lg:block col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
    <div class="hidden lg:block col-span-1 h-[100vh] border-l-1 border-r-1 border-l-white border-r-white opacity-10"></div>
</div>